// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-box-flex: @columns;
     -moz-box-flex: @columns;
      -webkit-flex: @columns;
          -ms-flex: @columns;
              flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
     -moz-order: @order;
      -ms-order: @order;
          order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
     -moz-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
  -webkit-align-content: @align;
     -moz-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}



// Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic,300,400italic);





@bitter: 'Bitter', serif;
@open-sans: 'Open Sans', sans-serif;
@whitesell-font: 'Whitesell', sans-serif;
@background-home: "/~whitesellgroup/wp-content/uploads/2015/09/home-background.png";
@global-font-size: 14px; 
// Variables
// ========================================================================

//
// Spacings
//

@global-margin: 20px;
@global-large-margin: 30px;

//
// Text
//

@global-link-color: #1fa2d6;
@global-link-hover-color: #0074a2;

//
// Backgrounds & Borders
//

@global-primary-gradient-top: #5cc0ea;
@global-primary-gradient-bottom: #4cacd7;

//
// Base
//

@base-h1-font-size: round(@global-font-size * 2.85); // 40px
@base-h1-line-height: round(@base-h1-font-size * 1.25); // 50px
@base-h2-font-size: round(@global-font-size * 2.28); // 32px
@base-h2-line-height: round(@base-h2-font-size * 1.25); // 40px
@base-h3-font-size: round(@global-font-size * 1.71); // 24px
@base-h3-line-height: round(@base-h3-font-size * 1.25); // 30px
@base-h4-font-size: round(@global-font-size * 1.28); // 18px
@base-h4-line-height: round(@base-h4-font-size * 1.33); // 24px
@base-selection-background: #1fa2d6;
@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Open Sans';
@base-heading-font-weight: 300;

//
// Panel
//

@panel-box-primary-background: #eefaff;
@panel-box-primary-color: #699eb3;
@panel-box-primary-title-color: #3484a4;

//
// Article
//

@article-title-font-weight: 300;

//
// Nav
//

@nav-padding-horizontal: 20px;
@nav-side-active-box-shadow: rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: rgba(0,69,109,0.25);
@nav-search-active-box-shadow: rgba(0,69,109,0.25);

//
// Navbar
//

@navbar-nav-height: 45px;

//
// Button
//

@button-primary-hover-background: #53b5de;
@button-primary-active-background: #359ac4;

//
// Icon
//

@icon-button-hover-color: @global-link-hover-color;

//
// Badge
//

@badge-font-size: 11px;
@badge-font-weight: normal;

//
// Thumbnail
//

@thumbnail-background: #fff;

//
// Dropdown
//

@dropdown-width: 220px;

//
// Utility
//

@utility-heading-large-font-size: round(@global-font-size * 3.71); // 52px
@utility-heading-large-line-height: round(@utility-heading-large-font-size * 1.23); // 64px




body { font-family: @open-sans; font-size: 20.83px; line-height: 1.23em; }
.uk-container { max-width: inherit; padding: 0; }
.tm-toolbar, .tm-headerbar, .tm-navbar, .tm-footer { margin: 0; }
.page-center { max-width: 1000px; margin: 0 auto; }



//
// links and colors
//

.black-background { background: #000; color: #fff; }
.grey-background { background: #555; color: #fff; }
.light-grey-background { background: #eaeaea; }
.white-background { background: #fff; color: #000; }

.cta-container { text-align: center; position: relative; z-index: 100; 
	a { position: relative; z-index: 100; }
}

.cta { font-size: 1.2em; letter-spacing: .5px; font-family: 'Bitter', serif; color: #fff; background: #000; padding: 14px 38px; text-transform: uppercase; text-decoration: none; 
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.active-hover {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.cta-yellow { background: #fcb835; color: #fff; border: 5px solid #fcb835; }
.cta-yellow:hover, .active-hover { background: rgba(45,45,45,0.8)!important; color: #fcb835!important; text-decoration: none; }
.cta-grey { background: #363636; color: #fff; border: 5px solid #363636; }
.cta-grey:hover { background: rgba(45,45,45,0.2)!important; color: #363636!important; text-decoration: none; }
.yellow-shading { background: rgba(249, 183, 53, 0.5); border-bottom: 20px solid #f9b735; min-height: 42px; }

//
//	Background Video Styling - Home Page
//

#bgvid { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(@background-home) no-repeat;
	background-size: cover;
	z-index: -2;
}

.video-overlay { position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }


//
//	Header
//
.tm-headerbar { padding: 0; 
	.tm-logo { width: 20%; float: left; padding: 18px 0; }
//
//  Navigation
//    		
	.uk-nav-parent-icon>.uk-parent>a:after { content: none; }
	.uk-navbar { width: 80%; float: left;  background: none; }
	.uk-navbar-nav { position: relative; }
	.uk-navbar-nav > li.uk-active > a { background: none; }
	.uk-navbar a.tm-logo { display: none!important; }
	.uk-navbar li { display: inline-block; }
	.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a { background: none; }
	.uk-navbar li { padding: 59px 11.5px; } 	
	.uk-navbar li a { font-family: @bitter; text-transform: uppercase; font-weight: 400; color: #fff; font-size: .8em; padding: 0; line-height: .8em; height: auto; }
	.uk-dropdown-navbar { background: none;  padding: 0; }
	.uk-dropdown-navbar li a { padding: 18px 25px; border-top: 1px solid #fcb835; background: width: 100%; display: block; background: #555; }
	// .uk-navbar li {  width: 100%; }
	.uk-dropdown-navbar * { padding: 0; margin: 0; }
	.uk-dropdown-navbar li { display: block; width: 100%; padding: 0; }
	.uk-dropdown-navbar li a:hover { background: #fcb835; color: #000; }
	.uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid>[class*='uk-width-'] { padding: 0; }
	.uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid { margin: 0; }
	.uk-dropdown {  position: absolute; top: 130px; left: -52%; }
	.uk-dropdown:before { content: ""; width: 0; height: 0; border-style: solid; border-width: 0 14px 14px 14px; border-color: transparent transparent #fcb835 transparent; position: absolute; top: -14px; left: 50%; margin-left: -14px; }
	.uk-active:after { content: ""; width: 0; height: 0; border-style: solid; border-width: 14px 14px 0 14px; border-color: #fcb835 transparent transparent transparent; position: absolute; top: 0; left: 50%; margin-left: -14px; }

}



// .hero { background: url(http://whitesellgroup.localhost.com/wp-content/uploads/2015/09/jeep-background.jpg) bottom center no-repeat; background-size: cover; min-height: 519px; width: 100%; }
.hero {  min-height: 519px; width: 100%; }
.whitesell-font { text-align: center; padding: 58px 0; }

//
//  Footer
//

footer { background: #000; border-top: 5px solid #f9b735; color: #fff;
	.page-center { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;  -webkit-justify-content: space-between; justify-content: space-between; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: baseline; align-items: baseline; }
	.uk-panel.widget_text { -webkit-box-flex: auto; -moz-box-flex: auto; -webkit-flex: auto; -ms-flex: auto; flex: auto; }
	.uk-panel.widget_text:last-of-type { -webkit-box-flex: 4 100%; -moz-box-flex: 4 100%; -webkit-flex: 4 100%; -ms-flex: 4 100%; flex: 4 100%; }
	ul { list-style-type: none; padding: 0; margin: 0; }
	li, li a { text-align: left; color: #fff; margin-left: 15px; font-family: @bitter; font-size: .8em; }
	li.top-level a, li.top-level { color: #f4b34b; margin-left: 0; }
	.footer-footer { border-top: 1px solid #f9b735; padding: 20px 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; flex-direction: row; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-align-items: baseline; align-items: baseline; color: #fff; font-size: 0.8em;
		a, a:hover, a:active { color: #fff; text-decoration: none;  }
	}

}



//
//  All pages stuffs
//
//
body {
	.home-content-container .home-content-header { height: 15px; background: url(/~whitesellgroup/wp-content/uploads/2015/09/home-content-header-no-text.jpg) center center no-repeat; }
	
	.honeycomb-hideout { 
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,.65) 100%), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(5%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.65))), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,.65) 100%), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,.65) 100%), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,.65) 100%), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,.65) 100%), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1e1e1e',GradientType=0 ), url(/~whitesellgroup/wp-content/uploads/2015/09/honeycomb-background.jpg) center 70px no-repeat;
		margin-top: -70px;
	}
	.uk-panel-box { display: none; }	
	.interior-content { padding: 15px 85px; }
	.shapes-background { background: url(/~whitesellgroup/wp-content/uploads/2015/09/white-shapes-background-home-page.jpg) center bottom no-repeat; 
		position: relative; z-index: 40; background-color: #fff;
	}
	.shapes-background:after { content: ""; width: 0; height: 0; border-style: solid; border-width: 32px 32px 0 32px; border-color: #fff transparent transparent transparent; position: absolute; bottom: -32px; left: 50%; margin-left: -32px; z-index: 40; }
	.flex-container, .ui-tabs-nav { .flex-display(flex); .justify-content(space-between); .align-items(flex-start); .flex-direction(row); .flex-wrap(nowrap); }
	.flex-container > div, .flex-container > li { .flex(1); }
	.ui-tabs { padding: 65px 0;
		.ui-tabs-nav { list-style-type: none; margin: 0; padding: 0; 
			img { max-width: 100px; margin: 0 auto; }
			.ui-state-default { position: relative; }
			.ui-state-active:before { 
				content: ""; width: 0; height: 0; border-style: solid; border-width: 20px 20px 0 20px; border-color: #000 transparent transparent transparent; position: absolute; top: 0; left: 50%; margin-left: -20px;
			}
			
		}
		.ui-tabs-panel { margin-top: 45px; 
			h2 { font-family: @bitter; font-weight: 600; text-align: center; color: #000; text-transform: uppercase; }
			.cta-container { padding-top: 45px;}
		}
		
		
	}
	.above-featured-image { position: relative; z-index: 30; }
	.above-featured-image:after { content: ''; position: absolute; z-index: 40; bottom: -72px; left: 0; width: 0; height: 0; border-style: solid; border-width: 72px 1000px 0 0; border-color: #eaeaea transparent transparent transparent; }
	.testimonial-image.featured-image { position: relative; z-index: 20; min-height: 675px; 
		.yellow-shading { position: absolute; bottom: 0; left: 0; width: 100%; }
	}
	.tm-content.flex-container { padding-bottom: 60px;
		.featured-image { .flex(1); }
		.featured-content { .flex(2); }
	}
}


//
//
// Home Page Specific Styling
// 
// 
// 
body.home {
	.grey-background { padding: 60px 83px; }
	.white-background { padding: 30px 83px 60px 83px;
		h2 { color: #000; padding: 25px 0; text-align: center; font-family: @bitter; font-weight: 700; text-transform: uppercase; }
	}
	.honeycomb-hideout { margin-top: 20px; }
	.home-content-container {
		.home-content-header { background: url(/~whitesellgroup/wp-content/uploads/2015/09/home-content-header-no-text.jpg) center center no-repeat; height: auto;
			h2 { color: #fff; font-family: @bitter; font-weight: 600; text-shadow: 0 0 9px rgba(0,0,0,0.8); text-align: center; text-transform: uppercase; padding: 42px 0; margin: 0; }
		}
		.cta-container { padding: 30px 0 60px 0; }
		.shapes-background { background: url(/~whitesellgroup/wp-content/uploads/2015/09/white-shapes-background-home-page.jpg) center center no-repeat; 
			position: relative; z-index: 1;
		}
		.testimonial-image { position: relative; min-height: 729px; margin-top: -98px; z-index: 2;
			.orange-overlay { position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(228,167,58,0.9); 
				h3, h4 { color: #fff; text-align: center; }
				h3 { font-style: italic; font-size: 1.05em; padding: 50px 100px 25px 100px; }
				h4 { font-family: @bitter; font-weight: 600; font-size: 1.4em; margin: 0; padding-bottom: 50px; }
			}
		}
		.industries-links-row { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; margin: 0; padding: 0; list-style-type: none; 
			li { padding: 0 10px; }
		}
		.industries-links-row:last-of-type { margin-top: -18px; padding-bottom: 30px; } 
		.cta-grey { padding-left: 19.5%; padding-right: 19.5%; }	
	}
}



//
// Home Page Chained Selects
//
//
body.home {
	.chained-select { text-align: center; color: #fff; font-family: 'Bitter', serif; font-size: 1.5em; line-height: 1.4em; padding: 135px 0 65px 0; 
		.dropdown { position: relative; display: inline-block; padding-left: 15px; padding-right: 15px; color: #fcb835; cursor: pointer; }
		.dropdown:before, .dropdown:after { position: absolute; top: 0; color: #fcb835; }
		.dropdown:before { content: '{';  left: 0;  }
		.dropdown:after { content: '}'; right: 0; }
		.dropdown .dropdown-list { position: absolute; bottom: 50px; z-index: 1200; list-style-type: none; margin: 0; padding: 0; }
		.dropdown .dropdown-list:after { 
			content: ' '; 
			width: 0; 
			position: absolute; 
			top: 178px; 
			left: 75%; 
			margin-left: 0; 
			height: 0;
		    border-style: solid; 
		    border-width: 15px 20px 0 20px; 
		    border-color: rgba(252,184,53,0.95) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); 
		    z-index: 1100; 
		}
		.dropdown .dropdown-list li { border-bottom: 2px solid #000; padding: 0 15px;  color: #000; background: rgba(252,184,53,0.95); width: 150%; font-size: .7em;
			-webkit-transition: all .5s ease-out;
			-moz-transition: all .5s ease-out;
			-ms-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out; 
		}
		.dropdown .dropdown-list li:hover { background: #fcb835; color: #efefef; }
		.dropdown .dropdown-list li:first-of-type { border-radius: 15px 15px 0 0 ; }
		.dropdown .dropdown-list li:last-of-type { border-radius: 0 0 15px 15px; }
		.cta-container { padding: 20px; margin-top: 35px;
			a { color: #fff; font-size: 1em; }
			a:hover { text-decoration: none; }
		}
	}
}



//
// Resets?
//

.no-padding { padding: 0!important; }
.full-width { width: 100%; }
.half-width { width: 50%; }
.tm-main>:nth-child(n+2) { margin-top: 0; }






